<div id="content" class="card card-outline-secondary">
    <div class="card-header">
        <h3 class="mb-0">{{ PageName }}</h3>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let SignDocList of SignDocLists" [routerLink]="[SignDocList.SignDocID,SignDocList.CLDDocID]">
                {{ SignDocList.DocName }}
                <span class="badge badge-primary badge-pill" *ngIf="SignDocList.CompletedStatus === 1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-check2-all" viewBox="0 0 16 16">
                        <path
                            d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z" />
                        <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z" />
                    </svg>
                </span>
            </li>
        </ul>
    </div>
</div>