<div id="content" class="card card-outline-secondary resource">
    <div class="card-header">
        <h3 class="mb-0">{{ PageName }}</h3>
    </div>
    <div class="card-body">
        <p><a href="#">WIC Income Guidelines</a></p>
        <p><a href="#">WIC Contact Information</a></p>
        <p><a href="#">WIC Prescreen Tool</a></p>
        <p><a href="#">Florida WIC Foods</a></p>
        <p><a href="#">WIC Eligibility Information</a></p>
        <p><a href="#">WIC Health Online Training</a></p>
        <p><a href="#">How WIC Works</a></p>
        <p><a href="#">Nondiscrimination Statement</a></p>
        <div class="text-center mt-20">
            <h4>WIC App Customer Service</h4>
            <p>Phone: 1-800-342-3556</p>
            <h4>WIC EBT Customer Service</h4>
            <p>Phone: 1-866-629-1095</p>
        </div>
    </div>
</div>