
<div id="content" class="card card-outline-secondary">
    <div class="card-header">
        <h3 class="mb-0">{{ PageName }}</h3>
    </div>
<div class="card-body">
    <div class="alert alert-success mt-10" role="alert" *ngIf="success">
        {{ success }}
      </div>
      <div class="alert alert-danger mt-10" role="alert" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
    <form [formGroup]="loginForm" (submit)="PasswordChange(loginForm.value); loginForm.reset()">

        <div class="form-group">
            <label>NewPassword*</label>
            <input class="form-control" formControlName="NewPassword" type="password" />
        </div>
        <ng-container *ngFor="let error of error_messages.NewPassword">
            <div class="alert alert-danger"
                *ngIf="loginForm.get('NewPassword')?.hasError(error.type) && (loginForm.get('NewPassword')?.dirty || loginForm.get('NewPassword')?.touched)">
                {{ error.message }}
            </div>
        </ng-container>
        <div class="form-group">
            <label>Confirm Password*</label>
            <input class="form-control" formControlName="confirmpassword" type="password" />
        </div>
        <ng-container *ngFor="let error of error_messages.confirmpassword">
            <div class="alert alert-danger"
                *ngIf="loginForm.get('confirmpassword')?.hasError(error.type) && (loginForm.get('confirmpassword')?.dirty || loginForm.get('confirmpassword')?.touched)">
                {{ error.message }}
            </div>
        </ng-container>
        <div class="alert alert-danger" *ngIf="loginForm.errors">
            New Password and confirm password didn't match
        </div>
        <button class="form-control btn btn-primary" [disabled]="!loginForm.valid">Change Password</button>
    </form>
</div>
</div>