<header>
<ng-template [ngIf]="this.isLoggedIn$.source | async">
  <button class="navbar-toggler first-button" (click)="clickEvent()" type="button" data-toggle="collapse" data-target="#navbarSupportedContent20"
    aria-controls="navbarSupportedContent20" aria-expanded="false" aria-label="Toggle navigation">
    <div class="animated-icon3" [ngClass]="status ? 'open' : 'close'" ><span></span><span></span><span></span></div>
  </button>
</ng-template>
  <button type="button" *ngIf="this.BackButton$" class="btn btn-primary" (click)="back()">Back</button>
  <h3>{{ title }}</h3>
</header>
<section class="wrapper" [ngClass]="status ? 'open' : 'close'">
    <nav id="sidebar" *ngIf="this.isLoggedIn$.source |async" [ngClass]="status ? 'active' : 'inactive'">
        <div class="sidebar-header">
            Welcome {{ userName.HouseholdHeadFirstName + ' ' + userName.HouseholdHeadLastName}}<br/>
            {{ Email$.value }}
        </div>
        <ul class="nav flex-column nav-pills">
            <li *ngFor="let menu of Navigate">
                <a class="nav-link" routerLink="./{{menu.link}}">{{ menu.title }}</a>
            </li>
            <li>
                <a class="nav-link" [routerLink]="[]" (click)="logout()">LogOut</a>
            </li>
        </ul>
        <div class="mt-20 text-center">{{ 'Version: ' + version }}</div>
        
    </nav>
    <div id="contentPanel"><router-outlet (activate)="menuClose()"></router-outlet></div>
</section>
<div class="loading-spinner" *ngIf="loadingStatus$">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>