<div id="content" class="card card-outline-secondary">
    <div class="card-header">
        <h3 class="mb-0">{{ PageName }}</h3>
    </div>
    <div class="alert alert-success mt-10" role="alert" *ngIf="success">
        {{ success }}
    </div>
    <div class="alert alert-danger mt-10" role="alert" *ngIf="errorMessage">
        {{errorMessage}}
    </div>
    <div class="card-body">
        <form #forgotForm=ngForm (submit)="onSubmitForgot(forgotForm.value)">
            <div class="form-group">
                <label for="LoginEmail">Email address</label>
                <input type="email" class="form-control" id="LoginEmail" #LoginEmail='ngModel' name="LoginEmail"
                    required ngModel LoginEmail [ngClass]="{'is-invalid': LoginEmail.touched && LoginEmail.invalid}"
                    placeholder="Enter email">
            </div>
            <ng-container *ngIf="Question == 0">
                <div class="form-group">
                    <label for="EBTCard">WIC EBT Card Number</label>
                    <input type="number" class="form-control" id="EBTCard" name="EBTCard" #EBTCard="ngModel" required
                        ngModel onkeypress="if (this.value.length > 15) return false;" EBTCard maxlength="16"
                        pattern="[0-9]{16}" [ngClass]="{'is-invalid': EBTCard.touched && EBTCard.invalid}"
                        placeholder="Enter WIC EBT Card Number">
                </div>
            </ng-container>
            <ng-container *ngIf="Question == 1">
                <div class="form-group">
                    <label for="BirthDate">AR Birth Date in (mm/dd/yyyy) format</label>
                    <input type="date" class="form-control" name="BirthDate" required ngModel BirthDate
                        #BirthDate="ngModel" [(ngModel)]="formattedDate" id="BirthDate"
                        minlength="10"
                        [ngClass]="{'is-invalid': BirthDate.touched && BirthDate.invalid}"
                        placeholder="Enter AR Birth Date in (mm/dd/yyyy) format ">
                </div>
            </ng-container>
            <ng-container *ngIf="Question == 2">
                <div class="form-group">
                    <label for="ZipCode">AR Mailing Address Zip Code</label>
                    <input type="text" class="form-control" name="ZipCode" required ngModel ZipCode #ZipCode="ngModel"
                        id="ZipCode" inputmode="numeric" maxlength="5" pattern="[0-9]{5}"
                        [ngClass]="{'is-invalid': ZipCode.touched && ZipCode.invalid}"
                        placeholder="Enter AR Mailing Address Zip Code">
                </div>
            </ng-container>
            <button class="form-control btn btn-primary" [disabled]="!forgotForm.valid">Forgot Password</button>
        </form>
    </div>
</div>